.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;

  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
  }

  &__description {
    scrollbar-width: none;
    overflow: scroll;
    height: 100%;
    position: absolute;
    bottom: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    transition: bottom 0.3s ease;
  }

  &:hover &__description {
    bottom: 0;
  }
}
